.my-box {
  width: 300;
  height: 600;
  border: 3px;
  padding: 1em;
  margin: 20%;
}
div {
  display: inline-block;
}
.example-container .move-this-p {
    position: relative;
    top: 4em;
    left: 50px;
    color: #000;
    background-color: gold;
}
div {
    opacity: 0.7;
    font: 12px Arial;
}

span.bold {
   font-weight: bold;
}

#normdiv {
    z-index: 8;
    height: 70px;
    border: 1px dashed #999966;
    background-color: #ffffcc;
    margin: 0px 50px 0px 50px;
    text-align: center;
}
.parent-container-03 {
   border: 3px solid #333;
   border-radius: 20px;
   background-color: gold;
   width: 80%;
   padding: .5em;
   margin: auto;
}
.child-container-03 {
   width: 75%;
   margin: 1em auto;
   padding: 1em;
   text-align: center;
   border: 10px solid #fff;
   background-color: #1CCDCA;
   color: #fff;
   font-size: 1.25em;
}
.border-01 {
   border-radius: 100%;
}
.border-02 {
   border-radius: 100px;
}
.border-03 {
   border-radius: 3em 10em 10em 2em / 10em 3em 10em 2em;
}
