#heading-1 {
    font-family: 'SourceSansPro-Black', 'SourceSansPro-Blacklt', Trebuchet MS, Verdana, sans-serif;
}
#heading-2 {
    font-family: 'SourceSansPro-ExtraLight', 'SourceSansPro-ExtraLightlt', Trebuchet MS, Verdana, sans-serif;
}
ul {
   background-color: lilac;
   text-align: center;
   padding: 10px;
 }
   /* Style the page: */
body {
    font-size: 40pt;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
    .menu-item {
     margin: auto;
     padding: 0.25em;
     min-width: 25px;
     font-size: 25pt;
     color: #fff;
     background-color: darkgray;
     line-height: 2.1em;
 }
 /* Add a dropdown feature: */
 .dropdown {
     display: inline-block;
 }
 .dropdown-content {
     display: none;
     position: absolute;
     border: 1px solid #000;
     margin: 0;
     margin-top: 0.5em;
     color: #000;
     background-color: #fff;
     z-index: 1;
 }
 .dropdown-content a {
     color: #000;
 }
 .dropdown:hover .dropdown-content {
     display: block;
 }

 /* Style dropdown item display: */
 .dropdown-item {
     display: block;
     text-align: left;
     margin: 0;
     padding: 0.5em;
     min-width: 7em;
 }
 .dropdown-item:hover, .dropdown-item:hover a {
     color: #baf0ef;
     background-color: #a2a2a2;
 }
 .parent-container-01 {
    background-color: #79AF33;
    width: 250px;
    height: 250px;
 }
 .child-container-01 {
    background-color: gold;
    width: 50%;
    height: 50%;
 }

 .parent-container-02 {
    background-color: #79AF33;
    width: 250px;
    height: 250px;
    margin: 2%;
 }
 .child-container-02 {
    margin: 10%;
    background-color: gold;
    width: 50%;
    height: 50%;
 }
 il {
   background-color: lightgray;
   text-align: right center;
   padding: 2px
 }
